pkgbase = openlinkhub-bin
	pkgdesc = Open source Linux interface for iCUE LINK Hub and other Corsair AIOs, Hubs. [Current Binary Release - amd64/x86_64]
	pkgver = 0.5.6
	pkgrel = 1
	url = https://github.com/jurkovic-nikola/OpenLinkHub
	install = openlinkhub.install
	arch = x86_64
	license = GPL3
	makedepends = systemd
	makedepends = tar
	depends = systemd
	depends = i2c-tools
	provides = openlinkhub
	conflicts = openlinkhub
	noextract = OpenLinkHub_0.5.6_amd64.tar.gz
	backup = etc/udev/rules.d/99-openlinkhub.rules
	source = https://github.com/jurkovic-nikola/OpenLinkHub/releases/download/0.5.6/OpenLinkHub_0.5.6_amd64.tar.gz
	source = openlinkhub.install
	source = openlinkhub.sysusers
	source = openlinkhub.service
	sha256sums = 43ea0d6a10905ce15696a06f4a6aabe12a65cc0ce1f4a88326b8b939870589eb
	sha256sums = eb4d6d32e69feeb6892ea2f5c0beb12a5abec06383d79fbe308c19c7c9287c85
	sha256sums = 5aab700df0d7791722c2723ece369df916e07184407e4778d25a2dd934f12681
	sha256sums = 430d8196074127257b6b823d7ae72eaa9fedf90f55c70bc121a9467e7648dcc5

pkgname = openlinkhub-bin
